// Update the values below for your pipeline
// env.CODEOCEAN_EMAIL = "tom.chartrand@alleninstitute.org"
// env.DOCDB_COLLECTION = "architecture_example_v2"
env.DOCDB_DATABASE = "analysis"
env.DOCDB_HOST = "api.allenneuraldynamics.org"
env.CODEOCEAN_DOMAIN = "codeocean.allenneuraldynamics.org"
env.AWS_DEFAULT_REGION = "us-west-2"

process.resourceLabels = ['allen-batch-pipeline': 'aind-analysis-pipeline-template']

process {
    maxForks = 50
    queueSize = 50
}
// fix for CO bug
env.CO_COMPUTATION_ID = "$CO_COMPUTATION_ID"