// Uncomment and update the example values below for your pipeline
env.CODEOCEAN_EMAIL = "tom.chartrand@alleninstitute.org"
env.DOCDB_COLLECTION = "architecture_example_v2"
process.resourceLabels = ['allen-batch-pipeline': 'architecture_example_v2']

// Use to specify if you are running the wrapper capsule on a non-main branch
// env.CO_CAPSULE_BRANCH = "release/beta"

// Use to list patch commits of your wrapper capsule
// these commits won't cause existing results to be reprocessed
// env.PATCH_COMMITS = "hash_1,hash2"

// These variables should be standard across all analysis pipelines
env.DOCDB_DATABASE = "analysis"
env.DOCDB_HOST = "api.allenneuraldynamics.org"
env.CODEOCEAN_DOMAIN = "codeocean.allenneuraldynamics.org"

// These standard nextflow parameters can be changed if needed
process {
    maxForks = 50
    queueSize = 50
}
// fix for CO bug
env.CO_COMPUTATION_ID = "$CO_COMPUTATION_ID"
env.CO_PIPELINE_ID = "$CO_PIPELINE_ID"